<template>
  <main class="spinner d-flex justify-content-center mb-3" v-if="photosLoading || pageLoading">
    <b-spinner large variant="primary" type="grow"></b-spinner>
  </main>
  <main id="content" v-else>
    <hero v-bind:page=this.page v-bind:home=false />
    <Photo v-if="this.photos" v-bind:photos="this.photos" />
    <Footer />
  </main>
</template>

<script>
// @ is an alias to /src
import Hero from '@/components/Hero.vue'
import Photo from '@/components/Photo.vue'
import Footer from '@/components/Footer.vue'
import { mapState } from 'vuex'
import { BSpinner } from 'bootstrap-vue'

export default {
  name: 'galleries',
  components: {
    BSpinner,
    Hero,
    Photo,
    Footer
  },
  props: ['pageID'],
  created () {
    this.$store.dispatch('LOAD_PAGE_ID', this.pageID)
    this.$store.dispatch('LOAD_NAV')
    this.$store.dispatch('LOAD_PAGE')
    this.$store.dispatch('LOAD_PHOTOS')
  },
  computed: mapState(['page', 'theID', 'photos', 'pageLoading', 'photosLoading']),
  watch:{
    'pageID' () {
      this.$store.dispatch('LOAD_PAGE_ID', this.pageID)
      this.$store.dispatch('LOAD_PAGE')
   }
},
  
}
</script>