<template>
  <main class="spinner d-flex justify-content-center mb-3" v-if="postLoading">
    <b-spinner x-large variant="primary" type="grow"></b-spinner>
  </main>
  <main id="content" v-else>
    <hero v-bind:page="this.post" v-bind:home="false" />
    <Content v-bind:page="this.post.content" />
    <Footer />
  </main>
</template>

<script>
// @ is an alias to /src
import Hero from '@/components/Hero.vue'
import Content from '@/components/Content.vue'
import Footer from '@/components/Footer.vue'
import { mapState } from 'vuex'
import { BSpinner } from 'bootstrap-vue'

export default {
  name: 'post',
  components: {
    BSpinner,
    Hero,
    Content,
    Footer,
  },
  props: ['pageID'],
  created () {
    this.$store.dispatch('LOAD_PAGE_ID', this.pageID)
    this.$store.dispatch('LOAD_NAV')
    this.$store.dispatch('LOAD_POST')
  },
  computed: mapState(['postLoading', 'post', 'theID']),
}
</script>