<template>
  <main class="spinner d-flex justify-content-center mb-3" v-if="pageLoading">
    <b-spinner large variant="primary" type="grow"></b-spinner>
  </main>
  <main id="content" v-else>
    <hero v-bind:nav=this.nav v-bind:page=this.page v-bind:home=true />
    <Content v-bind:page="this.page.content" />
    <About v-bind:page=this.page v-if="this.page && this.page.defaults && this.page.defaults.sectionPack" />
    <Footer />
  </main>
</template>

<script>
// @ is an alias to /src
import Hero from '@/components/Hero.vue'
import Content from '@/components/Content.vue'
import About from '@/components/About.vue'
import Footer from '@/components/Footer.vue'
import { mapState } from 'vuex'
import { BSpinner } from 'bootstrap-vue'


export default {
  name: 'home',
  components: {
    BSpinner,
    Hero,
    Content,
    About,
    Footer
  },
  props: ['pageID'],
  created () {
    this.$store.dispatch('LOAD_PAGE_ID', this.pageID)
    this.$store.dispatch('LOAD_PAGE')
  },
  computed: mapState(['page', 'theID', 'pageLoading']),
  watch:{
    'pageID' () {
      this.$store.dispatch('LOAD_PAGE_ID', this.pageID)
      this.$store.dispatch('LOAD_PAGE')
   }
  },
  
}
</script>
