<template>
  <main class="spinner d-flex justify-content-center mb-3" v-if="postsLoading || pageLoading">
    <b-spinner large variant="primary" type="grow"></b-spinner>
  </main>
  <main id="content" v-else>
    <hero v-bind:nav=this.nav v-bind:page=this.page v-bind:home=false />
    <PostListing v-if="this.posts && this.posts.posts" v-bind:posts="this.posts.posts" />
    <Footer />
  </main>
</template>

<script>
// @ is an alias to /src
import Hero from '@/components/Hero.vue'
import PostListing from '@/components/PostListing.vue'
import Footer from '@/components/Footer.vue'
import { mapState } from 'vuex'
import { BSpinner } from 'bootstrap-vue'

export default {
  name: 'posts',
  components: {
    BSpinner,
    Hero,
    PostListing,
    Footer
  },
  props: ['pageID'],
  created () {
    this.$store.dispatch('LOAD_PAGE_ID', this.pageID)
    this.$store.dispatch('LOAD_NAV')
    this.$store.dispatch('LOAD_PAGE')
    this.$store.dispatch('LOAD_POSTS')
  },
  computed: mapState(['page', 'theID', 'posts', 'pageLoading', 'postsLoading']),
  watch:{
    'pageID' () {
      this.$store.dispatch('LOAD_PAGE_ID', this.pageID)
      this.$store.dispatch('LOAD_PAGE')
   }
},
  
}
</script>