<template>
  <main id="content">
    <MissRona />
  </main>
</template>

<script>
// @ is an alias to /src
import MissRona from '@/components/MissRona.vue'


export default {
  name: 'rona',
  components: {
    MissRona
  }
}
</script>