body{
    font-family: $body-font;
    font-weight: normal;
    font-size: 1rem;
    color: $primary;
}
h1, h2, h3{
    font-family: $header-font;
    font-weight: normal;
    color: $primary;
}
h3{
    font-size:1.5rem;
}
h4, h5, h6, p{
    font-family: $body-font;
    font-weight: normal;
    color: $primary;
}
blockquote{
    @extend .px-3;
    p{
        font-family: $header-font;
        font-weight: normal;
        color: $primary;
        font-size: 1.25rem;
    }
}
