.section--gallery{
    .card{
        border:none;
        border-radius:0px;
        .card-img{
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }
    }
}