.section--hero{
    height: 40vh;
    &__img{
        height:100vh;
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
    }
    &__img-half{
        height: 45vh;
        background-position: center;
        position:relative;
        z-index:0;
        background-size:cover;
        background-repeat:no-repeat;
        .overlay{
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background: rgba(217,217,217, 0.8);
        }
    }
    nav{
        @extend .py-3;
        z-index:5;
        position:relative;
        a{
            font-family: $header-font;
            font-size: 1.1rem;
            padding-right:2rem;
            color: #333;
            text-shadow: 2px 2px #D9D9D9 !important;
            h3{
                margin-bottom:0;
            }
        }
    }
    .text-container{
        text-shadow: 2px 2px #D9D9D9;
        z-index:5;
        position:relative;
    }
}