.section--purell{
    height: 100vh;
    width: 100vw;
    background: url('/wp-content/themes/vuefrontend/src/img/Coronavirus-empty-shelves.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    position: relative;
    .purell{
        position:absolute;
        figure{
            img{
                cursor:pointer;
            }
        }
        &[number="1"]{
            top: 15vh;
            left: 5vw;
        }
        &[number="2"]{
            top: 16vh;
            left: 60vw;
        }
        &[number="3"]{
            top: 18vh;
            left: 34vw;
        }
        &[number="4"]{
            top: 15vh;
            left: 40vw;
        }
        &[number="5"]{
            top: 19vh;
            left: 70vw;
        }
        &[number="6"]{
            top: 20vh;
            left: 90vw;
        }
        &[number="7"]{
            top: 30vh;
            left: 10vw;
        }
        &[number="8"]{
            top: 32vh;
            left: 45vw;
        }
        &[number="8"]{
            top: 31vh;
            left: 30vw;
        }
        &[number="9"]{
            top: 36vh;
            left: 80vw;
        }
        &[number="10"]{
            top: 31vh;
            left: 15vw;
        }
        &[number="11"]{
            top: 60vh;
            left: 8vw;
        }
        &[number="12"]{
            top: 62vh;
            left: 75vw;
        }
        &[number="13"]{
            top: 65vh;
            left: 25vw;
        }
        &[number="14"]{
            top: 63vh;
            left: 50vw;
        }
        &[number="15"]{
            top: 62vh;
            left: 90vw;
        }
    }
    .score{
        position: absolute;
        top: 65vh !important;
        left: 10vw;
        right: 10vw;
        bottom:0;
        @include media-breakpoint-up(md){
            top:75vh !important;
        }
        h1{
            color:white;
        }
        p{
            font-family: $header-font;
            color:white;
            font-size: 21px;
            a{
                color: #FF69B4;
            }
        }

    }
}