.section--posts{
    height:auto;
    min-height: 60vh;
    .card{
        .card-header{
            height:40%;
            width:100%;
            background-size:cover;
            background-position:center;
            min-height:200px;
            background-repeat: none;
        }
        .card-body{
            height:60%;
            width:100%;
        }
    }
}