@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Special+Elite&display=swap');

// Font Variables
$header-font: 'Special Elite', serif;
$body-font: 'Josefin Slab', sans-serif;

// Colors
$primary: #333333;
$lighter: #D9D9D9;
$light: #EFEFEF;