<template>
  <section class="section section--about py-3" v-if="this.page && this.page.defaults && this.page.defaults.sectionPack">
    <div class="container" v-for="pack in this.page.defaults.sectionPack" v-bind:key="pack.sectionName">
        <div class="row d-flex align-items-center" v-if="pack.sectionName == 'About'">
            <div class="col-12 col-md-6 px-5">
                <figure class="mx-auto">
                    <img v-bind:src="pack.sectionFields.image.mediaItemUrl" class="w-100" />
                </figure>
            </div>
            <div class="col-12 col-md-6">
                <h2>{{pack.sectionFields.title}}</h2>
                <h3>{{pack.sectionFields.subtitle}}</h3>
                <div v-html="pack.sectionFields.content"></div>
            </div>
        </div>
    </div>
  </section>
</template>

<script>

export default {
  name: 'About',
  props: ['page'],
}
</script>