<template>
  <div class="chatbot">
        <h3>Chatbot:</h3>
        <div class="inputWrapper">
            <label for="primaryCTA">What is the primary CTA?</label>
            <input v-model="primaryCTA" type="textarea" id="primaryCTA">
        </div>
        <div class="inputWrapper">
            <label for="secondaryCTA">What is the backup CTA?</label>
            <input v-model="secondaryCTA" type="textarea" id="secondaryCTA">
        </div>
        <div class="inputWrapper">
            <label for="resources">What resources should be shared?</label>
            <input v-model="resources" type="textarea" id="resources">
        </div>

  </div>

</template>

<script>

export default {
  name: 'Chatbot',
  data() {
      return{
        primaryCTA: '',
        secondaryCTA: '',
        resources: ''
      }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
