<template>
  <section class="section section--content py-5">
    <div class="container py-2" v-html="page">
    </div>
  </section>
</template>

<script>

export default {
  name: 'Content',
  props: ['page'],
}
</script>