<template>
  <div class="default">
        <div class="selectWrapper">
            <label for="campaignType">
            <select v-model="campaignType" id="campaignType" @input="selectType">
                <option value="0">Select Type</option>
                <option value="abm">Account-Based Marketing</option>
                <option value="asset">Asset Request Only</option>
            </select>
        </div>
        <div class="dateWrapper">
            <label for="campaignStartDate">When will the campaign begin?</label>
            <datepicker :value="startDate" name="campaignStartDate"></datepicker>
        </div>
        <div class="dateWrapper">
            <label for="campaignEndDate">When will the campaign end?</label>
            <datepicker :value="endDate" name="campaignEndDate"></datepicker>
        </div>
  </div>

</template>

<script>
import Datepicker from 'vuejs-datepicker';


export default {
  name: 'DefaultForm',
  components: {
      Datepicker
  },
  data() {
      return{
        campaignType: '',
        startDate: new Date(2020, 1,  1),
        endDate: new Date(2020, 1, 1)
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>