<template>
  <div class="displayAds">
        <h3>Display Ads:</h3>
        <div class="inputWrapper">
            <label for="adText">What text would you like displayed on the ad?</label>
            <input v-model="adText" type="textarea" id="adText">
        </div>
        <div class="inputWrapper">
            <label for="artDirection">What imagery should the ad include?</label>
            <input v-model="artDirection" type="textarea" id="artDirection">
        </div>
        <div class="selectWrapper">
            <label for="adSizes">What sizes should be created</label>
            <multiselect v-model="adSizes" :options="choices" :multiple="true"></multiselect>
        </div>

  </div>

</template>

<script>
import Multiselect from 'vue-multiselect'
export default {
  name: 'DisplayAds',
  props: ['requestSizes'],
  components: {Multiselect},
  data() {
      return{
          adText: '',
          artDirection: '',
          adSizes: [],
          options: {
              multi: true
          },
          choices: ['300 x 250', '320 x 50', '320 x 100', '250 x 250', '200 x 200', '336 x 280', '728 x 90', '300 x 600', '160 x 600', '970 x 90', '468 x 60']
      }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
