<template>
  <div class="email">
        <h3>Email:</h3>
        <div class="inputWrapper">
            <label for="emailPurpose">What is the email's purpose?</label>
            <input v-model="emailPurpose" type="textarea" id="emailPurpose">
        </div>
        <div class="inputWrapper">
            <label for="subject">What is the desired subject line?</label>
            <input v-model="subject" type="textarea" id="subject">
        </div>
        <div class="inputWrapper">
            <label for="content">What is the content?</label>
            <input v-model="content" type="textarea" id="content">
        </div>
        <div class="dateWrapper">
            <label for="sendDate">When to send?</label>
             <datepicker :value="sendDate" name="sendDate"></datepicker>
        </div>
  </div>

</template>

<script>
import Datepicker from 'vuejs-datepicker';

export default {
  name: 'Email',
  components: {
      Datepicker
  },
  data() {
      return{
        subject: '',
        emailPurpose: '',
        content: '',
        sendDate: new Date(2020, 1, 1)
      }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
