<template>
    <footer id="footer-nav d-flex align-items-center">
        <div class="container d-flex align-items-center text-center">
          <p class="text-center mx-auto py-3">© Eli Lennox<p>
        </div>
    </footer>
</template>

<script>

export default {
  name: 'Footer',
}
</script>