<template>
  <section class="section section--posts py-5 px-5" v-if="this.photos">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 mx-auto my-3" v-for="item in this.photos" v-bind:key="item">
          <router-link :to="{ name: 'gallery', params: { pageID: item.node.artId }}">
            <article v-bind:id="'photo-' + item.node.artId" class="card w-80 mx-auto">
                <div class="card-header" v-if="item.node.featuredImage" v-bind:style="{ backgroundImage: 'url(' + item.node.featuredImage.sourceUrl + ')' }">
            </article>
          </router-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

export default {
  name: 'PhotoListing',
  props: ['photos'],
}
</script>