<template>
  <section class="section section--hero section--hero__img" v-if="this.page && this.page.defaults && this.page.defaults.featured && this.home" v-bind:style="{ backgroundImage: 'url(' + this.page.defaults.featured.sourceUrl + ')' }">
    <Nav />
    <div class="container text-container text-center my-5">
        <h1 v-if="this.page && this.page.title" class="py-5">{{ this.page.title }}</h1>
        <h2 v-if="this.page && this.page.defaults && this.page.defaults.subtitle">{{ this.page.defaults.subtitle }}</h2>
        
    </div>
  </section>
  <section class="section section--hero section--hero__img-half" v-else-if="this.page && this.page.defaults && this.page.defaults.featured" v-bind:style="{ backgroundImage: 'url(' + this.page.defaults.featured.sourceUrl + ')' }">
    <div class="overlay"></div>
    <Nav />
    <div class="container text-container text-center my-5">
        <h1 v-if="this.page && this.page.title" class="py-2">{{ this.page.title }}</h1>
        <h2 v-if="this.page && this.page.defaults && this.page.defaults.subtitle">{{ this.page.defaults.subtitle }}</h2>
        
    </div>
  </section>
  <section class="section section--hero" v-else>
    <Nav v-bind:nav="this.nav" />
    <div class="container text-center">
        <h1 v-if="this.page && this.page.title">{{ this.page.title }}</h1>
        <h2 v-if="this.page && this.page.defaults && this.page.defaults.subtitle">{{ this.page.defaults.subtitle }}</h2>
    </div>
  </section>
</template>

<script>
import Nav from '@/components/Nav.vue'

export default {
  name: 'Hero',
  props: ['page', 'home'],
  components: {
      Nav
  },
}
</script>


