<template>
    <section class="section section--purell">
      <Purell v-for="i in inventory" v-bind:key="i" v-bind:number="i" v-bind:isActive="activeVals[i-1]" v-on:click.native="addScore($event.target)"/>
      <audio id="cackle">
        <source src="../assets/Cardi.mp3" type="audio/mpeg">
      </audio>
      <div class="score">
      <h1>Your Score: {{score}}</h1>
      <p v-if="gameOver">
        Wash your hands with soap and water. Stay away from people. That's how you win, okuuuur. For more information, <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_BLANK">visit the CDC</a>.
      </p>
      </div>
    </section>
</template>

<script>
import Purell from '@/components/Purell.vue'

export default {
  name: 'MissRona',
  data () {
    return {
      number: 0,
      inventory: 15,
      totalCount: 20,
      position: 0,
      score: 0,
      interval: 0,
      activeVals: '',
      time: 1000,
      timeLimit: 1000,
      gameOver: false
    }
  },
  computed: {
  },
  methods: {
    init () {
      var aninterval = setInterval(this.popup, 1500);
      this.interval = aninterval
    },
    popup () {
      var pos = this.getNumber()
      // var limit = this.randomizeTimeLimit()
      this.activeVals[pos] = true
      setTimeout(() => { this.activeVals[pos] = false }, 1500)
      this.$forceUpdate()
      this.number++
    },
    getNumber () {
      return Math.floor(Math.random() * Math.floor(this.inventory))
    },
    randomizeTime () {
      return Math.floor(Math.random() * (1500 - 500) + 500)
    },
    randomizeTimeLimit () {
      return Math.floor(Math.random() * (3000 - 1500) + 1500)
    },
    addScore (tgt) {
      let purell = tgt.classList
      if(purell.contains('active')){
        this.score++
        var tgtPos = tgt.getAttribute('number')
        this.activeVals[tgtPos] = false
        this.cardi()
        this.$forceUpdate()
      }
    },
    loadActives () {
      var count = 0
      var arr = new Array()
      while (count < this.inventory){
        arr.push(false)
        count++
      }
      this.activeVals = arr
    },
    cardi () {
      var cackle = document.getElementById("cackle")
      cackle.play()
    }
  },
  components: {
    Purell
  },
  mounted () {
    this.$nextTick().then(() => {
      this.init()
    })
  },
  created () {
    this.loadActives()
  },
  watch: {
    number: function (val) {
      if (val >= this.totalCount) {
        clearInterval(this.interval)
        this.gameOver = true
        this.loadActives()
      }
    }
  }
}
</script>