<template>
    <nav id="nav">
        <div class="container d-flex align-items-center">
          <router-link v-bind:to="'/'" exact><h3>Eli Lennox</h3></router-link>
          <router-link v-bind:to="'/blog'" exact>Blog</router-link>
          <router-link v-bind:to="{name: 'gallery'}" exact>Photos</router-link>
        </div>
    </nav>
</template>

<script>

export default {
  name: 'Nav',
}
</script>


