<template>
  <section class="section section--gallery py-5 px-5" v-if="this.photos">
    <div class="container">
        <b-card-group columns>
            <b-card v-for="item in this.photos" v-bind:key="item" v-bind:id="'photo-' + item.node.artId" v-bind:img-src="item.node.featuredImage.sourceUrl" item-alt="image" overlay>
            </b-card>
        </b-card-group>
    </div>
  </section>
</template>

<script>
import { BCard, BCardGroup }  from 'bootstrap-vue'

export default {
  name: 'PhotoListing',
  props: ['photos'],
  components: {
      BCard,
      BCardGroup
  },
  methods: {
      
  }
}
</script>