<template>
  <section class="section section--posts py-5 px-5" v-if="this.posts">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 mx-auto my-3" v-for="item in this.posts" v-bind:key="item.node.id">
          <router-link :to="{ name: 'post', params: { pageID: item.node.slug }}">
            <article v-bind:id="'post-' + item.node.postId" class="card w-80 mx-auto">
                <div class="card-header" v-bind:style="{ backgroundImage: 'url(' + item.node.featuredImage.sourceUrl + ')' }">
                </div>
                <div class="card-body">
                    <h2 class="card-title">{{item.node.title}}</h2>    
                </div>
            </article>
          </router-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

export default {
  name: 'PostListing',
  props: ['posts'],
}
</script>