<template>
  <div class="purell" v-bind:number="this.number" v-bind:class="{'active': isActive, 'd-none': !isActive, 'prime': isPrime}">
    <figure class="mx-auto" style="width:50px; height:auto;" v-bind:number="this.number" v-bind:class="{'active': isActive}" v-anime="{ duration: 3000, width: ['1px', '15px', '20px', '25px', '35px', '50px', '50px', '45px', '30px', '20px', '12px', '5px', '0px'], loop: true, ease: 'easeInExpo' }">
      <img class="w-100 mx-auto" v-bind:class="{'active': isActive}" v-bind:number="this.number" src="../assets/purell.png" v-anime="{ rotate: '1turn', duration: 4000, opacity: ['25%', '100%'], loop: true, ease: 'easeOutExpo' }" />
    </figure> 
  </div>
</template>

<script>

export default {
  name: 'purell',
  props: ['number', 'isActive'],
  data () {
    return{
      isPrime: false
    }
  },
  methods: {
    purellInit () {
        var tgt = this.$el
        this.$anime.timeline().add({tgt, width: '30%', easing: 'easeOutExpo', duration: 50}).add({tgt, width: '100%', easing: 'easeOutExpo', duration: 500}).add({tgt, width: '0%', easing: 'easeOutExpo', duration: 1000})
    },
    randomizeTimeLimit () {
      this.timeLimit = Math.floor(Math.random() * (1500 - 500) + 500)
    }
  },
  mounted () {
    this.purellInit()
  },
  watch: {
    isActive: function() {
      this.purellInit()
    }
  }
}
</script>