<template>
  <section class="requestBuilder">
      <div class="container">
        <h1>Enter your request information below:</h1>
        <DefaultForm />
        <Chatbots />
        <DisplayAds />
        <Email />
      </div>
  </section>

</template>

<script>
import Chatbots from '@/components/Chatbots.vue'
import DefaultForm from '@/components/DefaultForm.vue'
import DisplayAds from '@/components/DisplayAds.vue'
import Email from '@/components/Email.vue'


export default {
  name: 'RequestBuilder',
  props: {
    msg: String
  },
  components: {
      DefaultForm,
      DisplayAds,
      Chatbots,
      Email
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
